# Bases de Datos I
## Laboratorio 9: Consultas m√°s complejas. Cl√°usulas Group By y Having.

### Configuraci√≥n ‚öôÔ∏è

Nuevamente estaremos usando el m√≥dulo de Python `sqlalchemy`, el cual nos permitir√° ejecutar c√≥digo SQL dentro de una celda de Python.

In [ ]:
import sqlalchemy
sqlalchemy.create_engine("mysql://root:root@localhost:3306")
%load_ext sql
%sql mysql://root:root@localhost:3306

En la celda anterior se carga la extensi√≥n de SQL y se establece conexi√≥n con el servidor, utilizando el mismo _string_ especificado en la creaci√≥n del engine. 

Ahora s√≠, realicemos un par de ejerciciosssss.

### Ejercicios üèãÔ∏è‚Äç‚ôÇÔ∏è
#### Analicemos el siguiente escenario

La Oficina del Festival Internacional del Nuevo Cine Latinoamericano es la
encargada cada a√±o de la organizaci√≥n del Festival Internacional del Nuevo Cine
Latinoamericano. Para esto cuenta con un sistema automatizado que maneja
cierta informaci√≥n contenida en una base de datos de la cual se muestra un
fragmento a continuaci√≥n:

**Pel√≠cula** (<u>IDPeli</u>, T√≠tulo , Director, Pa√≠s, Duraci√≥n, A√±o, IDSecc) 

IDSecc **FK** Secci√≥n. No admite nulos 


**Jurado** (<u>IDJur</u>, Nombre, Pa√≠s, FechaDeNacimiento, IDSecc)

IDSecc **FK** Secci√≥n. No admite nulos 

**Secci√≥n** (<u>IDSecc</u>, Nombre, Tipo)

**Pel√≠culaGanadora** (<u>IDPremiada</u>, IDPeli, NombrePremio)

IDPeli **FK** Pel√≠cula. No admite nulos


#### --> Ejecute las siguientes sentencias SQL para la creaci√≥n de una base de datos `FestivalDeCine` que corresponda a las relaciones presentadas.

In [ ]:
%%sql CREATE DATABASE IF NOT EXISTS FestivalDeCine34;
USE FestivalDeCine34;

In [ ]:
%%sql 

CREATE TABLE IF NOT EXISTS Secci√≥n (
  IDSecc int(11) NOT NULL AUTO_INCREMENT,
  Nombre varchar(50) NOT NULL,
  Tipo varchar(50) NOT NULL,
  PRIMARY KEY (IDSecc),
  UNIQUE (Nombre)
);

In [ ]:
%%sql 

INSERT INTO `Secci√≥n` (`IDSecc`, `Nombre`, `Tipo`) VALUES
(1, 'Panorama Latinoamericano', 'Fuera de competencia'),
(2, 'Panorama Contempor√°neo Internacional', 'Fuera de competencia'),
(3, '√ìperas Primas', 'En competencia'),
(4, 'Ficci√≥n', 'En competencia'),
(5, 'World Cinema Fund', 'Fuera de competencia'),
(6, 'Muestra de Cine Polaco', 'Fuera de competencia'),
(7, 'Documental', 'En competencia'),
(8, 'Muestra de Cine Italiano', 'Fuera de competencia'),
(9, 'Muestra de Cine Canadiense', 'Fuera de competencia'),
(10, 'Muestra de Cine Alem√°n', 'Fuera de competencia'),
(11, 'Muestra de Cine Espa√±ol', 'Fuera de competencia');

In [ ]:
%%sql 

CREATE TABLE IF NOT EXISTS Jurado (
  IDSecc INT REFERENCES Secci√≥n(IDSecc) ON UPDATE CASCADE,
  IDJur int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
  Nombre varchar(50) NOT NULL,
  Pa√≠s char(10) NOT NULL,
  FechaDeNacimiento date NOT NULL
);

In [ ]:
%%sql 

INSERT INTO `Jurado` (`IDJur`, `Nombre`, `Pa√≠s`, `FechaDeNacimiento`, `IDSecc`) VALUES
(1, 'Boris Quercia', 'Chile', '1955-03-02', 4),
(2, 'Gast√≥n Pauls', 'Argentina', '1965-02-05', 4),
(3, '√örsula Pruneda', 'M√©xico', '1944-12-04', 4),
(4, 'Concei√ß√°o Senna', 'Brasil', '1948-11-23', 4),
(5, 'Manuel Herrera', 'Cuba', '1976-06-21', 4),
(6, 'Diego Vega', 'Per√∫', '1958-03-17', 3),
(7, 'Marit√© Ug√°s', 'Venezuela', '1966-03-27', 3),
(8, 'Esteban Insausti', 'Cuba', '1977-07-02', 3),
(9, 'Aldo Garay', 'Uruguay', '1970-05-03', 7),
(10, 'Carlos Azpur√∫a', 'Venezuela', '1973-08-04', 7),
(11, 'Rolando Almirante', 'Cuba', '1973-06-05', 7);

In [ ]:
%%sql 

CREATE TABLE IF NOT EXISTS Pel√≠cula (
  IDPeli int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
  T√≠tulo varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  Director varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  Pa√≠s char(10) COLLATE utf8_unicode_ci NOT NULL,
  Duraci√≥n smallint(5) unsigned NOT NULL,
  A√±o smallint(5) unsigned NOT NULL,
  IDSecc INT REFERENCES Secci√≥n(IDSecc) ON UPDATE CASCADE
);

In [ ]:
%%sql 

INSERT INTO `Pel√≠cula` (`IDPeli`, `T√≠tulo`, `Director`, `Pa√≠s`, `Duraci√≥n`, `A√±o`, `IDSecc`) VALUES
(1, 'Un feliz acontecimiento', 'R√©mi Bezan√ßon', 'Francia', 107, 2011, 2),
(2, 'Drom√≥manos', 'In√©s de Oliveira C√©zar', 'Argentina', 90, 2012, 4),
(3, 'Polvo', 'Julio Hern√°ndez Cord√≥n', 'Guatemala', 80, 2012, 5),
(4, 'Rosa', 'Wodjciechs Marzowski', 'Polonia', 94, 2012, 6),
(5, 'La demora', 'Rodr√≠go Pl√°', 'Uruguay', 84, 2012, 4),
(6, 'Los salvajes', 'Alejandro Fadel', 'Argentina', 119, 2012, 3),
(7, 'El hombre que vendr√°', 'Giorgio Diritti', 'Italia', 117, 2009, 8),
(8, 'La suerte en tus manos', 'Daniel Burman', 'Argentina', 107, 2011, 1),
(9, 'Elefante blanco', 'Pablo Trapero', 'Argentina', 110, 2012, 4),
(10, 'La lucha de Ana', 'Bladimir Abud', 'Rep√∫blica', 90, 2011, 1),
(11, 'Pescador', 'Sebasti√°n Cordero', 'Ecuador', 96, 2011, 4),
(12, 'Mi universo en min√∫sculas', 'Hatuey Viveros', 'M√©xico', 90, 2011, 3),
(13, 'Hoy', 'Tata Amaral', 'Brasil', 82, 2011, 4),
(14, 'La pel√≠cula de Ana', 'Daniel D√≠az Torres', 'Cuba', 100, 2012, 4),
(15, 'Cornelia frente al espejo', 'Daniel Rosenfeld', 'Argentina', 103, 2012, 3),
(16, 'Melaza', 'Carlos Lechuga', 'Cuba', 80, 2012, 3),
(17, 'Villegas', 'Gonzalo Tobal', 'Argentina', 98, 2012, 3),
(18, 'Las cosas como son', 'Fernando Lavanderos Montero', 'Chile', 105, 2012, 4),
(19, 'Choc√≥', 'Jhonny Hendrix Hinestroza', 'Colombia', 80, 2011, 3),
(20, 'El √∫ltimo tren a casa', 'Lixin Fan', 'Canad√°', 85, 2009, 9),
(21, 'B√°rbara', 'Christian Petzold', 'Alemania', 105, 2012, 10),
(22, 'El p√°ramo', 'Jaime Osorio M√°rquez', 'Colombia', 107, 2011, 1),
(23, 'No', 'Pablo Larra√≠n', 'Chile', 115, 2012, 4),
(24, 'De martes a martes', 'Gustavo Fern√°ndez Trivi√±o', 'Argentina', 94, 2011, 3),
(25, 'El gran sue√±o de Konrad Koch', 'Sebastian Groebler', 'Alemania', 113, 2010, 10),
(26, 'Violeta se fue a los cielos', 'Andr√©s Wood', 'Chile', 110, 2011, 4),
(27, 'Viento de Oeste', 'Robert Thalheim', 'Alemania', 89, 2011, 10),
(28, 'Par√≥n en el camino', 'Andreas Dresen', 'Alemania', 110, 2011, 10),
(29, 'Evelyn', 'Isabel de Ocampo', 'Espa√±a', 96, 2011, 11),
(30, 'Era uma vez eu, Ver√≥nica', 'Marcelo G√≥mes', 'Brasil', 91, 2011, 4),
(31, 'Penumbras', 'Charlie Medina', 'Cuba', 79, 2012, 3),
(32, 'Los equilibristas', 'Ivano de Matteo', 'Italia', 100, 2012, 8),
(33, 'Un hogar de fin de semana', 'Hans-Christian Schmid', 'Alemania', 85, 2012, 10),
(34, 'Jaque mate', 'Jos√© Mar√≠a Cabral', 'Rep√∫blica', 80, 2011, 1),
(35, 'Fausto', 'Alexander Sokurov', 'Rusia', 134, 2011, 2),
(36, 'Monsieur Lazhar', 'Philippe Falardeau', 'Canad√°', 94, 2011, 9),
(37, 'Starbuck', 'Ken Scott', 'Canad√°', 109, 2011, 9);

In [ ]:
%%sql 

CREATE TABLE IF NOT EXISTS Pel√≠culaGanadora (
  IDPremiada int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
  IDPeli INT REFERENCES Pel√≠cula(IDPeli) ON UPDATE CASCADE,
  NombrePremio varchar(100) COLLATE utf8_unicode_ci NOT NULL
);

In [ ]:
%%sql 

INSERT INTO `Pel√≠culaGanadora` (`IDPremiada`, `IDPeli`, `NombrePremio`) VALUES
(1, 16, '6to Premio de la Popularidad'),
(2, 16, 'Premio El M√©gano'),
(3, 9, 'Premio Coral de Edici√≥n'),
(4, 9, 'Menci√≥n SIGNIS'),
(5, 9, '5to Premio de la Popularidad'),
(6, 9, 'Premio Caminos'),
(7, 14, 'Premio Coral de Actuaci√≥n Femenina'),
(8, 14, 'Premio Coral de Gui√≥n'),
(9, 14, 'Premio de Distribuci√≥n de Amazonia Films'),
(10, 14, '2do Premio de la Popularidad'),
(11, 14, 'Premio Otorgado por el C√≠rculo de Periodistas de Cultura de la UPEC'),
(12, 5, 'Premio Coral de M√∫sica Original'),
(13, 5, 'Premio √önete'),
(14, 11, 'Premio Coral de Actuaci√≥n Masculina'),
(15, 30, 'Menci√≥n del Jurado'),
(16, 23, '1er Premio Coral'),
(17, 23, 'Premio SIGNIS'),
(18, 23, '3er Premio de la Popularidad'),
(19, 23, 'Premio de la Asociaci√≥n Cubana de la Prensa Cinematogr√°fica'),
(20, 19, 'Premio Roque Dalton'),
(21, 6, '2do Premio Coral'),
(22, 6, 'Premio Coral a la Mejor Contribuci√≥n Art√≠stica (Mejor Direcci√≥n)'),
(23, 26, '2do Premio Coral'),
(24, 26, 'Premio Coral de Direcci√≥n Art√≠stica'),
(25, 26, 'Premio de la Asociaci√≥n de Cine, Radio y Televisi√≥n de la UNEAC'),
(26, 26, 'Premio Glauber Rocha');

> **Voz en off con tono grave:**  Contando con esta informaci√≥n se puede entonces dar respuesta a los siguientes incisos utilizando el
lenguaje SQL.

a) Obtenga la cantidad de pel√≠culas registradas por cada director.

b) Recupere ordenados alfab√©ticamente los nombres de aquellas secciones en las que se presentaron pel√≠culas cubanas o argentinas cuya duraci√≥n era de 90 minutos o m√°s.

c) Obtener el tiempo m√°ximo de pel√≠cula registrado por cada secci√≥n.

d) Obtener el nombre de las secciones que cuentan con jueces con menos de 20 a√±os.

ups, y con mas de 20!?

e) Obtener ordenadas por t√≠tulo las pel√≠culas producidas entre el 2011 y el 2012 que obtuvieron premios.

f) Las secciones s√≥lo pueden ser del tipo "En competencia" o "Fuera de competencia". Muestre la cantidad y el promedio de duraci√≥n de las pel√≠culas presentadas en cada uno de estos tipos de secci√≥n.

g) Obtener el t√≠tulo, director y la cantidad de premios recibidos por las 5 pel√≠culas m√°s laureadas.

h) Obtenga todos los t√≠tulos y pa√≠ses de las pel√≠culas del a√±o 2012 que concursaron en la secci√≥n de "√ìperas Primas" y obtuvieron m√°s de un premio.

i) Obtenga el nombre de los miembros del jurado que participaron en secciones en las que se premiaron al menos a cinco pel√≠culas distintas. Los jurados deben aparecer ordenados seg√∫n su edad, comenzando por el mayor.

j) Muestre los jueces que se han asignado a secciones en las que participan pel√≠culas de su mismo pa√≠s. Agregue tambi√©n su pa√≠s y la secci√≥n involucrada.

k) Obtener el nombre y la cantidad total de pel√≠culas asociadas a las secciones en las que se hayan registrado al menos 1 pel√≠cula ganadora.

l) Presente el t√≠tulo y el director de las pel√≠culas que fueron galardonadas y poseen una duraci√≥n mayor que el promedio.