Para cargar en la PC los datos definidos en el fichero `c9_script.sql`. Abra una consola del sistema en la carpeta contenedora del fichero y ejecute: 

```bash
mysql -u root -p < c9_script.sql
```

# Conferencia 9: Consultas en SQL

Conectándonos a la base de datos

In [ ]:
%load_ext sql

In [ ]:
%sql mysql://root:1q2w3e4r@localhost:3306

Definiendo la base de datos `ventas` como la base de datos por defecto durante las futuras consultas

In [ ]:
%sql use ventas

Consultando las tablas y sus descripciones, para familiarizarnos con la base de datos.

In [ ]:
%sql show tables

In [ ]:
%sql DESCRIBE producto
#  %sql DESCRIBE cliente
#  %sql DESCRIBE orden

## Consulta básica: Select + From

Problema: 
Construya una consulta para ver la información del cliente.

In [ ]:
# Solución
%sql SELECT * FROM cliente

## + Where

Añadiendo la cláusula para elegir los registros a trabajar.

Problema: Construya una consulta para obtener todos los productos cuyo precio sea menor o igual a $10$, o mayor que $2000$.

Solución:

In [ ]:
%%sql 

SELECT NombreP, Precio
FROM producto
WHERE Precio <= 10 OR Precio > 2000

Problema: Construya una consulta para obtener todos los clientes que pertenezcan a "Ohio", "Nevada" o "Misisipi".

Solución:

In [ ]:
%%sql 

SELECT NombreC 
FROM cliente 
WHERE Estado IN ('Ohio', 'Nevada', 'Misisipi');

En conferencia se preguntó: ¿Cómo hago si quisiera negar el problema anterior? 

Investigando, existe la condición `NOT`, conocida como el operador `NOT`. Este niega una condición y se utiliza delante de las condiciones. Por ejemplo:

- La negación de el operador `IN` sería: 
  - `<column> NOT IN (<expresion>)`
- La negación de `IS NULL` sería:
  - `column IS NOT NULL`
- La negación de `LIKE` sería:
  - `<column> NOT LIKE <expresion>`
- La negación de `BETWEEN` sería:
  - `<column> NOT BETWEEN <expresion> AND <expresion>`

Luego, la condicón de negación de utiliza delante de cada operador, indicando la acción contraria del operador.

Problema: Construya una consulta para obtener todos los clientes que no pertenezcan a "Ohio", "Nevada" o "Misisipi".

Solución:

In [ ]:
%%sql 

SELECT NombreC 
FROM cliente 
WHERE Estado NOT IN ('Ohio', 'Nevada', 'Misisipi');

Problema: Construya una consulta para obtener todos los clientes cuyo nombre comience con la letra "I" y culmine con al menos cuatro letras, donde las dos últimas tienen que ser "er". La columna de la tabla resultante tiene que llamarse "Cliente Especial I-er".

Solución:

In [ ]:
%%sql 

SELECT NombreC AS `Cliente Especial I-er`
FROM cliente 
WHERE NombreC LIKE 'I%_er';

## + Order By

Añadiendo la cláusula que me permite ordenar.

Problema: Construya una consulta para obtener todos los clientes, su dirección y su estado, pero ordenados de forma descendente por la dirección y el estado al que pertenecen.

Solución:

In [ ]:
%%sql 

SELECT NombreC, Dirección, Estado 
FROM cliente 
ORDER BY Estado, Dirección DESC;

## + Limit

Añadiendo la cláusula para limitar la cantidad de registros a mostrar.

Problema: Construya una consulta para mostrar $10$ filas de la tabla **cliente**.

Solución:

In [ ]:
%%sql 

SELECT *
FROM cliente
LIMIT 10;

## + Group By

Añadiendo la cláusula para agrupar los registros.

Problema: Construya una consulta que muestre la cantidad de clientes por estado.

Solución:

In [ ]:
%%sql

SELECT Estado, COUNT(NoC) AS Cantidad
FROM cliente 
GROUP BY Estado;

## + Having

Añadiendo la cláusula para definir condiciones a los registros agrupados.

Problema: Construya una consulta que muestre la cantidad de clientes por estado tal que su total sea menor que $5$. 


Solución:

In [ ]:
%%sql 

SELECT Estado, COUNT(NoC) AS Cantidad
FROM cliente 
GROUP BY Estado
HAVING COUNT(NoC) < 5;

## + Case

Añadiendo la cláusula para establecer alternativas.

Problema: Construya una consulta para conocer si el precio de un producto es barato, normal, caro o muy caro. Se conoce que:

| Etiqueta | Rango de precios  |
|----------|-------------------|
| barato   | [0, 100)          |
| normal   | [100, 1000)       |
| caro     | [1000, 2000)      |
| muy caro | [2000, +infinito) |


Solución:

In [ ]:
%%sql

SELECT 
    NombreP as Producto, 
        CASE 
            WHEN Precio >= 0 AND Precio < 100 THEN 'barato'
            WHEN Precio >= 100 AND Precio < 1000 THEN 'normal'
            WHEN Precio >= 1000 AND Precio < 2000 THEN 'caro'
            ELSE 'muy caro'
        END AS `Tipo de precio`
FROM producto;

## + Join

Añadiendo la cláusula para establecer relaciones entre las tablas.

Problema: Construya una consulta que muestre el cliente y la fecha en que efectuó alguna compra.

Solución:

In [ ]:
%%sql 

SELECT 
    NombreC as Cliente, 
    Fecha
FROM orden 
    JOIN cliente
        ON orden.NoC = cliente.NoC;

Problema: Construya una consulta que muestre el cliente y la fecha en que efectuó alguna compra. Deben de aparecer también aquellos clientes que no hayan efectuado alguna compra.

Solución:

In [ ]:
%%sql

SELECT 
    NombreC AS Cliente, 
    Fecha
From cliente
    LEFT JOIN orden 
        ON orden.NoC = cliente.NoC;

Si quisiera comprobar, que realmente estén registros cuyo valor en la columna `Fecha` sea `NULL`, siendo los clientes que no han hecho compras, basta añadir una condición, quedando la consulta de la siguiente forma:

In [ ]:
%%sql

SELECT 
    NombreC AS Cliente, 
    Fecha
From cliente
    LEFT JOIN orden 
        ON orden.NoC = cliente.NoC
WHERE Fecha IS NULL;

## + Subconsultas

Añadiendo la posibilidad de realizar consultas dentro de otra consulta.

Problema: Construya una consulta para obtener los productos más baratos, teniendo en cuenta que: 

| Etiqueta | Rango de precios  |
|----------|-------------------|
| barato   | [0, 100)          |
| normal   | [100, 1000)       |
| caro     | [1000, 2000)      |
| muy caro | [2000, +infinito) |

Solución:

In [ ]:
%%sql 

SELECT Producto, Precio
From (
    SELECT 
        NombreP AS Producto, 
        Precio, 
        CASE 
            WHEN Precio >= 0 AND Precio < 100 THEN 'barato'
            WHEN Precio >= 100 AND Precio < 1000 THEN 'normal'
            WHEN Precio >= 1000 AND Precio < 2000 THEN 'caro'
            ELSE 'muy caro'
        END AS `Tipo de precio`
    FROM producto
    ) AS table_tmp
WHERE `Tipo de precio` = 'barato'

### Otros problemas y sus soluciones

Problema: Construya una consulta para obtener el nombre, el precio y la cantidad de los $10$ productos más vendidos.

Solución:

In [ ]:
%%sql

select
    p.NombreP,
    p.Precio,
    sum(o.Cantidad) as CantidadTotal
from
    producto as p
    inner join orden as o
        on p.NoP = o.NoP
group by 
    p.NoP
order by
    sum(o.Cantidad) DESC
limit 10;

Problema: Construya una consulta para obtener para cada cliente el total de órdenes que realizadas. Considere que todas las órdenes realizada en una misma fecha, dado un cliente, se considera como una sola orden.

Solución:

In [ ]:
%%sql

select
    c.NoC,
    c.NombreC,
    count(distinct o.Fecha) as Total
from
    cliente as c
    inner join orden as o
        on c.NoC = o.NoC
group by
    c.NoC;

Problema: Construya una consulta para oObtener el nombre y el importe total de los clientes que hayan comprado más de $100$ veces. Considere que, el importe es el producto del número de veces comprado un producto, multiplicado por su precio.

Solución:

In [ ]:
%%sql

select
    c.NoC,
    c.NombreC,
    sum(o.Cantidad * p.Precio) as ImporteTotal
from
    cliente as c
    inner join orden as o
        on c.NoC = o.NoC
    inner join producto as p
        on p.NoP = o.NoP
group by
    c.NoC
having
    sum(o.Cantidad) >= 100
order by
    sum(o.Cantidad * p.Precio) DESC

Problema: Construya una consulta para obtener el importe total de cada producto vendido en el mes de enero de 2019.

Solución:

In [ ]:
%%sql

select 
    p.NombreP as Producto,
    sum(o.Cantidad * p.Precio) as ImporteTotal
from
    producto as p
    inner join orden as o
      on p.NoP = o.NoP
where
    month(o.Fecha) = 1 and year (o.Fecha) = 2019
group by
    p.NoP

Problema: Construya una consulta para obtener por cada estado, la cantidad de productos comprados cuyos nombres comienzan con "Chain".

Solución:

In [ ]:
%%sql

select
    c.Estado,
    sum(o.Cantidad) as Total
from
    cliente as c
    inner join orden as o
        on c.NoC = o.NoC
    inner join producto as p
        on p.NoP = o.NoP
where
    p.NombreP like 'Chain%'
group by
    c.Estado

Problema: Construya una consulta para obtener por cada cliente, su producto más comprado.

Solución:

In [ ]:
%%sql

select 
    t.NombreC AS Cliente,
    p.NombreP AS Producto
from
    producto as p
    inner join (
        select
            c.*,
            (select
                NoP
             from
                 orden as o
             where
                 o.NoC = c.NoC
             group by
                 o.NoP
             order by
                 sum(Cantidad) DESC
             limit 1
            ) as `Producto Mas Comprado`
        from
            cliente as c) as t
    on p.NoP = t.`Producto Mas Comprado`

Problema: Construya una consulta para obtener el nombre de los clientes que hayan comprado alguno de los productos más caros.

Solución:

In [ ]:
%%sql

select 
    distinct(c.NoC),
    NombreC
from
    cliente as c
    inner join orden as o
        on c.NoC = o.NoC
where
    o.NoP in (
    select NoP from producto where Precio >= (select avg(Precio) from producto)
    )